*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: monospace;
}

#wrapper-pregame {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  padding-bottom: 0;
  background: blue;
  max-height: 480px;
  max-width: 640px;
  margin: 0 auto;
  transform: translateY(50%);
}

#wrapper-pregame > div {
  width: 100%;
}

/* Pre-game */

#player-list > .players {
  display: flex;
  align-items: center;
  gap: 16px;
  background: aqua;
}

.pre-game-spot {
  height: 120px;
  width: 120px;
  border: 8px dashed black;
  padding: 4px;
}

.pre-game-spot.pre-game-player {
  border: 8px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.pre-game-player > h2 {
  font-size: 10px;
  text-align: center;
}

.pre-game-player > select {
  width: 80%;
}

#params {
  flex: 1;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 16px;
  row-gap: 16px;
  overflow-y: auto;
}

#params > .param {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

#params > .param > h3 {
  font-size: 10px;
  margin-bottom: 4px;
}

/* Start game button */
#start-game {
  visibility: hidden;
  height: 32px;
  width: 100%;
  cursor: pointer;
}

/* Game */
#wrapper {
  background: blue;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 180px minmax(640px, 1fr);
  grid-template-rows: 120px 1fr 120px;
  max-width: 1920px;
}

#wrapper > .container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* Player section */
#players {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

#players > div {
  position: relative;
  height: 100%;
  aspect-ratio: 2;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: 4px;
  border-color: black;
  border-style: ridge;
}

#players > div > h2 {
  font-size: 14px;
}

#players > div > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  column-gap: 4px;
  row-gap: 4px;
  font-size: 12px;
}

#players > div[data-current="true"]::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  height: 16px;
  width: 16px;
  background: white;
  border-radius: 9999px;
  border: 1px solid black;
}

/* Sidebar */
#sidebar {
  display: flex;
  flex-direction: column;
}

#logs {
  flex: 1;
}

#info {
  height: 120px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#resources-left {
  flex: 1;
}

#timer {
  text-align: center;
}

/* Map section */

#wrapper svg {
  height: calc(100vh - 250px);
  font-family: sans-serif;
}

.settlement-spot,
.edge-spot {
  opacity: 0;
  transition: all 0.3s;
  z-index: 1000;
}

.settlement-spot[data-disabled="false"],
.edge-spot[data-disabled="false"] {
  cursor: pointer;
}

.settlement-spot[data-disabled="false"]:hover,
.edge-spot[data-disabled="false"]:hover {
  opacity: 1;
}

#map.pulse-settlements .edge-spot,
#map.pulse-edges .settlement-spot {
  opacity: 0;
}

#map.pulse-settlements .settlement-spot[data-disabled="false"]:hover,
#map.pulse-edges .edge-spot[data-disabled="false"]:hover {
  fill: white;
  opacity: 1;
}

#map.pulse-settlements .settlement-spot[data-disabled="false"],
#map.pulse-edges .edge-spot[data-disabled="false"] {
  animation-name: pulse;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#map.pulse-tiles polygon[data-type="tile"][data-disabled="false"] {
  animation-name: pulse-tiles;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes pulse-tiles {
  0% {
    filter: brightness(100%);
  }

  80% {
    filter: brightness(105%);
  }

  100% {
    filter: brightness(115%);
  }
}

/* Round section */
#round {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

#actions {
  display: flex;
  gap: 4px;
}

#actions > button {
  border: 1px solid black;
  padding: 4px;
  outline: none;
  flex: 1;
  text-transform: uppercase;
}

#dice {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

#dice > div {
  width: 45%;
  aspect-ratio: 1;
  background: gray;
  border: 1px solid black;
}

#dice.pulse > div {
  animation-name: dice;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes dice {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.025);
  }
}

/* HUD section */
#hud {
  display: flex;
  gap: 4px;
  padding: 4px;
}

#resources,
#dev,
#discard-card-list {
  overflow-x: auto;
  display: flex;
  align-items: flex-end;
  gap: 4px;
  list-style: none;
}

#resources {
  flex-grow: 1;
}

#resources > li,
#dev > li,
#discard-card-list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  font-size: 16px;
  aspect-ratio: 1;
  position: relative;
  background: gray;
}

#resources > li::before,
#dev > li::before,
#discard-card-list > li::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  aspect-ratio: 1;
  background: black;
  border-radius: 9999px;
}

#resources > li > span,
#dev > li > span,
#discard-card-list > li > span {
  z-index: 2;
}

#resources > li[data-type="Lumber"],
#discard-card-list > li[data-type="Lumber"] {
  background: green;
}

#resources > li[data-type="Brick"],
#discard-card-list > li[data-type="Brick"] {
  background: maroon;
}

#resources > li[data-type="Sheep"],
#discard-card-list > li[data-type="Sheep"] {
  background: limegreen;
}

#resources > li[data-type="Grain"],
#discard-card-list > li[data-type="Grain"] {
  background: yellow;
}

#resources > li[data-type="Ore"],
#discard-card-list > li[data-type="Ore"] {
  background: gray;
}

#discard-card-list > li[data-selected="true"] {
  transform: translateY(-10px);
}

/* Modals */
#discard {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 1px solid black;
  width: 480px;
  height: 210px;
  background: white;
  padding: 16px;
}

#discard-card-list {
  flex-grow: 1;
}

#discard-card-list > li {
  height: 56px;
  width: 56px;
}
