#map {
  user-select: none;
}

#map [data-type="vertex"],
#map [data-type="edge"] {
  opacity: 0;
}

#map [data-type="vertex"][data-owned="true"],
#map [data-type="vertex"][data-owned="false"][data-disabled="false"]:hover,
#map [data-type="edge"][data-owned="true"],
#map [data-type="edge"][data-owned="false"][data-disabled="false"]:hover {
  cursor: pointer;
  opacity: 1;
}

#map [data-type="vertex"][data-disabled="true"],
#map [data-type="edge"][data-disabled="true"] {
  cursor: not-allowed;
}

#map-vertices.pulse > [data-type="vertex"][data-disabled="false"][data-owned="false"],
#map-edges.pulse > [data-type="edge"][data-disabled="false"][data-owned="false"] {
  animation-name: pulse;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#map-tiles.pulse > [data-type="tile"][data-disabled="false"] {
  cursor: pointer;
  animation-name: pulse-tiles;
  animation-duration: 0.45s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#map-vertices.pulse > [data-type="vertex"][data-disabled="false"]:hover,
#map-edges.pulse > [data-type="edge"][data-disabled="false"]:hover {
  opacity: 1 !important;
}

#map-tiles > [data-type="tile"].darken {
  filter: saturate(25%);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes pulse-tiles {
  0% {
    filter: brightness(100%);
  }

  100% {
    filter: brightness(125%);
  }
}
